<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Books</title>
</head>
<body>
    <p>Current User: {{ user }}</p>
    {% if user.profile_photo %}
        <div><img src="{{ user.profile_photo.url }}" alt="{{ user.username }}" style="width: 75px; height: 75px; border-radius: 50%;"></div>
    {% endif %}

    
    <h1>All Books</h1>

    {% if user.is_librarian %}
        <a href="{% url 'books:create_book' %}">Create a New Book</a>
    {% endif %}

    {% if books.count > 0 %}
    <ul>
        {% for book in books %}
            <li>
                <a href="{% url 'books:book_detail' book.id %}">{{ book.title }} - {{ book.author }}</a>
            </li>
            <div><img src="{{ book.cover_image.url }}" alt="{{ book.title }}" style="height: 200px;"></div>
        {% endfor %}
    </ul>
    {% else %}
        <p>No books available.</p>
    {% endif %}
    <a href="{% url 'books:home' %}">Back to Home</a>
</body>
</html>
